@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000000;
  color: #f6f6f6;
  height: 100vh;
}

.titulo-resalte {
  color: #22d4fd;
}

.presentacion {
  display: flex;
  align-items: center;
  margin: 15%;
  justify-content: space-between;
}

.presentacion__section {
  width: 615px;
}

.presentacion__section__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.presentacion__section__texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.presentacion__section__enlaces {
  display: flex;
  justify-content: space-between;
}

.presentacion__link {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight:600;
  color: #000000;
  width: 280px;
  background-color: #22d4fd;
  text-align: center;
  padding: 21.5px 0;
  border-radius: 16px;
}
