@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000000;
  color: #f6f6f6;
}

.titulo-resalte {
  color: #22d4fd;
}

.presentacion {
  display: flex;
  align-items: center;
  margin: 10% 15%;
  justify-content: space-between;
}

.presentacion__section {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentacion__section__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.presentacion__section__texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.presentacion__section__enlaces {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.presentacion__enlaces__link {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #f6f6f6;
  width: 378px;
  height: 68px;
  background-color: #000000;
  text-align: center;
  padding: 21.5px 0;
  border-radius: 8px;
  border: 2px solid #22d4fd;
}

.presentacion__enlaces__link:hover {
  background-color: #272727;
}

.header__ul {
  display: flex;
}

.presentacion__enlaces_subtitulo {
  font-family: "Krona One", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.footer {
  text-align: center;
  background-color: #22d4fd;
  color: #000000;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  padding: 24px;
  font-weight: 400;
}
